@import "semantic-ui";
// @import "bootstrap/dist/css/bootstrap";
.chatbox{
  height: 450px;
}
.chatbox1{
  height: 450px;
}
#messages{
  height: 15em;
  overflow: auto;
}
.input{
  button{
    display: none;
  }
}